<section>
  <div class="page-header">
    <h1>Buyings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="buying in vm.buyings"
       ui-sref="buyings.view({ buyingId: buying._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="buying.created | date:'mediumDate'"></span>
        by
        <span ng-if="buying.user" ng-bind="buying.user.displayName"></span>
        <span ng-if="!buying.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="buying.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.buyings.$resolved && !vm.buyings.length">
    No Buyings yet, why don't you <a ui-sref="buyings.create">create one</a>?
  </div>
</section>
