<style>
.layout {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

</style>

<section class="layout">
  <div class="page-header">
    <h1>{{vm.selling._id ? 'Edit Product' : 'New Product'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.sellingForm" class="form-horizontal" ng-submit="vm.save(vm.form.sellingForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.selling.name" id="name" class="form-control" placeholder="name" required>
          <div ng-messages="vm.form.sellingForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Product name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="imageURL">ImageURL</label>
          <input name="imageURL" type="text" ng-model="vm.selling.imageURL" id="imageURL" class="form-control" placeholder="image URL">
          <div ng-messages="vm.form.sellingForm.imageURL.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Image URL is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="startBid">Starting bid</label>
          <input name="startingBid" type="number" ng-model="vm.selling.startingBid" id="startingBid" class="form-control" placeholder="starting bid" required>
          <div ng-messages="vm.form.sellingForm.startingBid.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Starting Bid is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="bidIncrement">Bid increment</label>
          <input name="bidIncrement" type="number" ng-model="vm.selling.bidIncrement" id="bidIncrement" class="form-control" placeholder="bid increment" required>
          <div ng-messages="vm.form.sellingForm.bidIncrement.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Bid Increment is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="quantity">Quantity</label>
          <input name="quantity" type="number" ng-model="vm.selling.quantity" id="quantity" class="form-control" placeholder="quantity" required>
          <div ng-messages="vm.form.sellingForm.quantity.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Quantity is required.</p>
          </div>
        </div>

        <!--<div class="form-group" show-errors>
          <label class="control-label" for="category">Category</label>
          <input name="category" type="text" ng-model="vm.selling.category" id="category" class="form-control" placeholder="category" required>
          <div ng-messages="vm.form.sellingForm.category.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Category is required.</p>
          </div>
        </div> -->

        <div class="form-group" show-errors>
          <label class="control-label" for="category">Category</label>
          <select name="category"  ng-model="vm.selling.category" id="category" class="form-control" placeholder="category" required>
              <option value="all" ng-selected="true">All</option>
              <option value="electronics">Electronics</option>
              <option value="jewelry">Jewelry</option>
              <option value="sports">Sports</option>
              <option value="homegoods">Homegoods</option>
              <option value="kitchen">Kitchen</option>
              <<option value="travel">Travel</option>
          </select>
        </div>

        <div class="form-group">
          <label class="control-label" for="description">Description of the product</label>
          <textarea rows="5" cold="17" ng-model="vm.selling.description" id="description" class="form-control" placeholder="description">
          </textarea>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="location">Location</label>
          <input name="location" type="text" ng-model="vm.selling.location" id="location" class="form-control" placeholder="location" required>
          <div ng-messages="vm.form.sellingForm.location.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Location is required.</p>
          </div>
        </div>

        <div class="form-group" show-errors>
          <label class="control-label" for="endsAt">End Date</label>
          <input name="endsAt" type="date" ng-model="vm.selling.endsAt" id="endsAt" class="form-control" placeholder="End Date" required/>
          <div ng-messages="vm.form.sellingForm.endsAt.$error" role="alert">
            <p class="help-block error-text" ng-message="required">End Date is required.</p>
          </div>
        </div>
        <br/>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.selling._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
