<section>
  <div class="page-header">
    <h1>Sellings</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="selling in vm.sellings"
       ui-sref="sellings.view({ sellingId: selling._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="selling.created | date:'mediumDate'"></span>
        by
        <span ng-if="selling.user" ng-bind="selling.user.displayName"></span>
        <span ng-if="!selling.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="selling.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sellings.$resolved && !vm.sellings.length">
    No Sellings yet, why don't you <a ui-sref="sellings.create">create one</a>?
  </div>
</section>
