<section>
  <div class="page-header">
    <h1>{{vm.header}}</h1>
  </div>
  <div ng-if="vm.items.length">
    <div class="list-group">
      <a ng-repeat="product in vm.items" ui-sref="products.view({ productId: product._id })" class="list-group-item" style="overflow-y:auto;">
        <div class="col-md-6">
          <h4 class="list-group-item-heading" ng-bind="product.name"></h4>
        </div>
        <div class="col-md-3" ng-if="vm.isActive">
          <h4 ng-show="!vm.isOver" class="list-group-item-heading">Ends At : {{product.endsAt | date:'yyyy-MM-dd'}}</h4>
        </div>
        <div ng-if="vm.displayBid" ng-class="vm.isActive ? 'col-md-3' : 'col-md-3 col-md-offset-3'">
          <h4 class="list-group-item-heading">{{vm.isActive ? 'Current bid' : 'Sold at'}} : {{product.currentBid.amount | currency}}</h4>
        </div>
        <!-- <h4 class="list-group-item-heading" ng-bind="product.name"></h4> -->
      </a>
    </div>
    <div class="row text-center">
      <!-- pager -->
      <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
          <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
          <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
          <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
          <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
          <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.sellings.$resolved && !vm.sellings.length">
    No items available.
  </div>
</section>
