<section>
  <div class="col-xs-10 col-xs-offset-1" style="margin-top: 50px;">
    <div class="row" ng-if="vm.products.$resolved && vm.products.length">
      <div ng-repeat="product in vm.items track by $index">
        <a class="col-xs-3" ui-sref="products.view({ productId: product._id })" style="text-decoration: none;">
          <div class="card">
            <img class="card-img-top" ng-src="{{product.imageURL}}" />
            <div class="card-block">
              <div class="card-title" ng-bind="product.name">
                Card Title
              </div>

              <div class="meta">
                {{product.currentBid == null ? product.startingBid : product.currentBid.amount | currency}}
              </div>
            </div>
            <div class="card-footer">
              <span class="float-right">{{product.bidHistory.length}} bids</span>
              <span ng-bind="product.created | date:'mediumDate'"></span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row text-center">
      <!-- pager -->
      <ul ng-if="vm.pager.pages.length" class="pagination">
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
          <a ng-click="vm.setPage(1)">First</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === 1}">
          <a ng-click="vm.setPage(vm.pager.currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in vm.pager.pages" ng-class="{active:vm.pager.currentPage === page}">
          <a ng-click="vm.setPage(page)">{{page}}</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
          <a ng-click="vm.setPage(vm.pager.currentPage + 1)">Next</a>
        </li>
        <li ng-class="{disabled:vm.pager.currentPage === vm.pager.totalPages}">
          <a ng-click="vm.setPage(vm.pager.totalPages)">Last</a>
        </li>
      </ul>
    </div>


    <div class="alert alert-warning text-center" ng-if="vm.products.$resolved && !vm.products.length">
      We couldn't find any relevant products 😞
    </div>



  </div>
</section>
