<section>
  <div class="col-xs-10 col-xs-offset-1" style="margin-top: 50px;">
    <div ng-repeat="product in vm.products track by $index">
      <a class="col-xs-3" ui-sref="products.view({ productId: product._id })" style="text-decoration: none;">
        <div class="card">
          <img class="card-img-top" ng-src="{{product.imageURL}}" />
          <div class="card-block">
            <div class="card-title" ng-bind="product.name">
              Card Title
            </div>

            <div class="meta">
              {{product.currentBid == null ? product.startingBid : product.currentBid.amount | currency}}
            </div>
          </div>
          <div class="card-footer">
            <span class="float-right">{{product.bidHistory.length}} bids</span>
            <span ng-bind="product.created | date:'mediumDate'"></span>
          </div>
        </div>
    </div>
    </a>

    <div class="alert alert-warning text-center" ng-if="vm.products.$resolved && !vm.products.length">
      We couldn't find any relevant products 😞
    </div>
  </div>
  </div>
</section>
