<section>

  <div class="container-fluid col-md-12">
    <div class="row" style="padding-top: 40px;">
    </div>
    <div class="row">
      <div class="col-md-5">
        <img ng-src="{{vm.product.imageURL}}" alt="vm.product.name" width="100%" />
      </div>
      <div class="col-md-7">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title">{{vm.product.name}}</h3>
          </div>
          <div class="panel-body">
            <!-- Seller Information -->
            <div class="row">
              <div class="col-md-3 p-view-label">
                Seller
              </div>
              <div class="col-md-9 p-view value">
                {{vm.product.seller.displayName}}
              </div>
            </div>

            <!-- Display Bid -->
            <div class="row" ng-if="vm.product.currentBid == null">
              <!-- Bidding form -->
              <div class="col-md-3 p-view-label">
                Starting Bid
              </div>
              <div class="col-md-9 p-view value">
                {{vm.product.startingBid | currency}}
              </div>
            </div>

            <div class="row" ng-if="vm.product.currentBid != null">
              <!-- Bidding form -->
              <div class="col-md-3 p-view-label">
                Current Bid
              </div>
              <div class="col-md-9 p-view value">
                {{vm.product.currentBid.amount | currency}}
              </div>
            </div>
            <!-- End Display Bid -->
            <div class="row" ng-if="vm.product.currentBid != null">
              <!-- Bidding form -->
              <div class="colcol-md-4 p-view-label">
                Current Bid
              </div>
              <div class="col-md-4 p-view value">
                {{vm.product.currentBid.amount | currency}}
              </div>
            </div>

            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">

            <div class="row">
              <!-- Time Information -->
              <div class="col-md-3">
                Ends
              </div>
              <div class="col-md-9">
                Value
              </div>
            </div>

            <div class="row">
              <!-- Description -->
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</section>
